table {
	background-color: white;
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

th {
	border: 1px solid #000000;
	text-align: center;
	background-color: white;
}

td {
	border: 1px solid #000000;
	text-align: left;
}

tr:nth-child(even) {
	background-color: white;
}

body {
	background-color: #aaa2a4;
	font-family: sans-serif;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: 50% 40%;
	margin: 0;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 10%;
	background-color: #f1f1f1;
	position: fixed;
	height: 100%;
	overflow: auto;
}

li a {
	text-align: center;
	display: block;
	color: #000;
	padding: 8px 16px;
	text-decoration: none;
}

li a.active {
	background-color: #4CAF50;
	color: white;
}

li a:hover:not (.active ) {
	background-color: #800000;
	color: white;
}

a {
	cursor: pointer;
}